
:root{
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-color:#2eb38b;
}

h1, h2, h3 , h4, h5, h6 {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700 !important;
  }
  p {
    font-family: 'Jura', sans-serif;
  }
 
.justify-content-center{
    justify-content: center;
}
.bg-grey{
    background: #e6e9eb;
}
.btn-primary {
background-color: var(--heading-color) !important;
border: 1px solid var(--heading-color) !important;
}
.btn-xl {
    padding: 1rem 1.75rem;
    font-size: 1.25rem;
}
.containersec{
    padding: 6rem 0;
}
  
.btn:hover {
   
    box-shadow: 9px 4px 10px 6px rgb(135 147 143);
}
 nav a:hover{
    color: var(--heading-color) !important;
}
a:hover{
    color: #1e1b1b !important;
    font-weight: bold;
}

/*--------- divider star line css----------- */
.divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .divider-custom .divider-custom-line {
    width: 100%;
    max-width: 7rem;
    height: 0.25rem;
    background-color: #6c757d;
    border-radius: 1rem;
    border-color: #6c757d;
  }
.divider-custom .divider-custom-line:first-child {
    margin-right: 1rem;
}
.divider-custom .divider-custom-line:last-child {
    margin-left: 1rem;
}
  /*--------- Navigation bar----------- */
  #mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 700;
}
  #mainNav .navbar-brand {
    color: #fff;
    font-size: 1.75em;
}
#mainNav .navbar-nav li.nav-item a.nav-link {
    color: #fff;
}
.navbar-toggler {
    
    background: var(--heading-color);
}

  /*--------- Hero banner----------- */
.masthead-avatar {
    width: 15rem;
    border: 1px solid #6c757d;
    border-radius: 50%;
    height: 15rem;
}

  


  /* --------Jumbotron css-----------  */
.jumbotron {
    
    background-color: var(--heading-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: calc(6rem + 74px);
    padding-bottom: 6rem;
  }
  
  
  .jumboCopy {
    width: 100%;
    max-width: 700px;
    color: white;
    text-align: center;
  }
  
/* ----------skill section css----------- */
 .rounded-lg {
    border-radius: 0.3rem !important;
}
.shadow {
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.rounded-lg .progress {
    width: 150px;
    height: 150px;
    background: none;
    display: flex;
    position: relative;
    margin: auto !important;
}
.progress-left {
    left: 0;
}
.progress-right {
    right: 0;
}
.progress > span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress-circle .progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    -ms-transform-origin: center left;
    transform-origin: center left;
    
}
.progress-circle .progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 6px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress-circle .progress::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 6px solid #eee;
    position: absolute;
    top: 0;
    left: 0;
}
.progress-bar:after {
    position: absolute;
    top: -2px;
    right: 0;
    width: 34px;
    height: 34px;
    content: '';
    background: #3e64ff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    opacity: 0;
}
.progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    -ms-transform-origin: center right;
    transform-origin: center right;
}
.progress .progress-value {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.progress-wrap {
    width: 100%;
    margin-bottom: 30px;
}
.progress-bar {
    background: var(--heading-color);
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 12px;
    line-height: 1.2;
    color: #000000;
    font-weight: 600;
    position: relative;
    overflow: visible;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}
.progress-bar span {
   
    color: #fff;
}
.border-primary{
    border-color: var(--heading-color) !important;
}

/* ----------footer css----------- */
.footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #2c3e50;
    color: #fff;
}
.btn-social {
    border-radius: 100%;
    width: 3.25rem;
    height: 3.25rem;
    align-items: center;
    display: inline-flex;
    justify-content: center;
}
.copyright {
    background-color: #1a252f;
}

/* ----------media Query ----------- */
@media (min-width: 1400px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1500px;
    }
  }